p {
	margin: 0 0 15px;
}

a {
	color: blue;
	text-decoration: underline;
	&:hover {
		color: #333;
	}
}

nav {
	ul {
		li {
			list-style: none;
			a {
				text-decoration: none;
			}
		}
	}
}

ul,
ol {
	padding: 0 0 0 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 10px 0;
}

h1 {
	font-size: 1.75em;
	margin: 15px 0;
}

h2 {
	font-size: 1.4em;
	margin: 12px 0;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1.0em;
}

blockquote {
	font-style: italic;
	border-left: 5px solid #eee;
	padding-left: 25px;
	margin: 10px 0;
}

table {
	width: 100%;
	thead {
		th {
			font-weight: bold;
		}
	}
}