$color-primary: #333;
$color-disabled: #999;

$select-color: #fff;
$select-background: $color-primary;
$select-width: 220px;
$select-height: 40px; 

* {
	box-sizing: border-box;
	outline: 0 none;
}

p {
	margin: 0 0 15px;
}

a {
	color: blue;
	text-decoration: underline;
	&:hover {
		color: #333;
	}
}

nav {
	ul {
		li {
			list-style: none;
			a {
				text-decoration: none;
			}
		}
	}
}

ul,
ol {
	padding: 0 0 0 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 10px 0;
}

h1 {
	font-size: 1.75em;
	margin: 15px 0;
}

h2 {
	font-size: 1.4em;
	margin: 12px 0;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1.0em;
}

blockquote {
	font-style: italic;
	border-left: 5px solid #eee;
	padding-left: 25px;
	margin: 10px 0;
}

table {
	width: 100%;
	caption {
		font-size: 0.8em;
	}
	thead {
		th {
			font-weight: bold;
		}
	}
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
}

article {
	margin: 10px 0;
}

form {
	fieldset {}
	legend {}
	p {
		margin: 0 0 10px;
	}
	label {
		width: 100%;
		display: block;
		font-size: 0.8em;
	}
	textarea,
	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="url"],
	input[type="email"],
	input[type="number"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="datetime"],
	input[type="datetime-local"] {
		width: 100%;
		padding: 10px 10px;
		font-size: 0.8em;
		border: 1px solid #ccc;
		line-height: 1.4em;
	}
	input[type="range"] {
		width: 100%;
	}
	.list--bare {
		padding: 0;
		li {
			list-style: none;
		}
	}
	.switch {
		margin: -5px 0 -5px 0px;
		-webkit-appearance: none;
		width: 60px;
		height: 26px;
		background: $color-disabled;
		border-radius: 999px;
		cursor: pointer;
		transition: background 0.3s ease-out;
		&:focus {
			outline: none;
		}
		&:checked {
			background: $color-primary;
		}
		&:after {
			content: '';
			display: block;
			background: white;
			width: 20px;
			height: 20px;
			border-radius: 999px;
			position: relative;
			top: 3px;
			left: 3px;
			transition: left 0.3s ease-out;
		}
		&:checked:after {
			left: 36px;
		}
	}
	.radio {
		margin: -5px 0 -5px 0px;
		-webkit-appearance: none;
		width: 26px;
		height: 26px;
		background: $color-disabled;
		border-radius: 9999px;
		transition: background 0.3s ease-out;
		cursor: pointer;
		&:after {
			content: '';
			display: block;
			background: white;
			width: 0px;
			height: 0px;
			border-radius: 999px;
			position: relative;
			top: 13px;
			left: 13px;
			transition: 0.3s ease-out;
		}
		&:checked:after {
			width: 20px;
			height: 20px;
			top: 3px;
			left: 3px;
		}
		&:hover,
		&:checked {
			background: $color-primary;
		}
		&:focus {
			outline:none;
		}
	}
	.select-hidden {
		display: none;
		visibility: hidden;
		padding-right: 10px;
	}
	.select {
		cursor: pointer;
		display: inline-block;
		position: relative;
		font-size: 16px;
		color: $select-color;
		width: $select-width;
		height: $select-height;
	}
	.select-styled {
		position: absolute; 
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $select-background;
		padding: 8px 15px;
		@include transition(all 0.2s ease-in);
		&:after {
			content:"";
			width: 0;
			height: 0;
			border: 7px solid transparent;
			border-color: $select-color transparent transparent transparent;
			position: absolute;
			top: 16px;
			right: 10px;
		}
		&:hover {
			background-color: darken($select-background, 2);
		}
		&:active,
		&.active {
			background-color: darken($select-background, 5);
			&:after {
				top: 9px;
				border-color: transparent transparent $select-color transparent;
			}
		}
	}
	.select-options {
		display: none; 
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 999;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: darken($select-background, 5);
		li {
			margin: 0;
			padding: 12px 0;
			text-indent: 15px;
			border-top: 1px solid darken($select-background, 10);
			@include transition(all 0.15s ease-in);
			&:hover {
				background: darken($select-background, 20);
			}
			&[rel="hide"] {
				display: none;
			}
		}
	}
	
}


/* Image Responsive */

.ir {
	max-width: 100%;
	height: auto;
}

.button {
	background: $color-primary;
	border: 0 none;
	color: #fff;
	font-size: 0.9em;
	padding: 8px 15px;
	cursor: pointer;
	&:hover {
		background: darken($color-primary, 20);
	}
}

button,
input[type="submit"],
input[type="reset"] {
	@extend .button;
}

progress {
	border: 0;
	height: 18px;
	border-radius: 9px;
	&::-webkit-progress-value {
		background: #000;
	}

	&::-moz-progress-bar {
		background: #000;
	}
}

@include breakpoint(tablet) {

	nav.basic {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		background: #222;
		ul {
			max-width: 770px;
			margin: 0 auto;
			@include clearfix;
			padding: 0;
			li {
				float: left;
				a {
					display: block;
					padding: 10px;
					color: #fff;
					font-weight: 100;
					font-size: 0.9em;
				}
				ul {
					display: none;
					li {
						float: none;
						a {
							color: #aaa;
						}
					}
				}
				&:hover {
					ul {
						display: block;
						position: absolute;
						z-index: 100;
						background: #222;
						li {
							a {
								&:hover {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}

}